version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "03:00"

  - package-ecosystem: cargo
    directory: /
    groups:
      rust:
        patterns:
          - "*"
    schedule:
      interval: weekly
      day: monday
      time: "03:00"
    allow:
      - dependency-type: direct
