version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "03:00"

  - package-ecosystem: cargo
    directory: /
    # smoelius: The next `groups` option combines multiple Dependabot updates into one, but it
    # messes up the "release necessity" workflow. I have decided that combining updates is more
    # valuable than the "release necessity" workflow.
    groups:
      rust:
        patterns:
          - "*"
    schedule:
      interval: weekly
      day: monday
      time: "03:00"
    allow:
      - dependency-type: direct
