allow-unwrap-in-tests = true
disallowed-methods = [
    { path = "std::path::Path::canonicalize" },
    { path = "std::path::Path::exists", reason = "use `try_exists`" },
    { path = "std::path::Path::strip_prefix" },
    { path = "tempfile::tempdir" },
    { path = "tree_sitter::Node::child_by_field_name", reason = "use `child_by_field_id`" },
    { path = "tree_sitter::Node::kind", reason = "use `kind_id`" },
]
