name: CI

on:
  pull_request:
  push:
  schedule:
    - cron: "0 3 * * 3"
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        environment: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.environment }}

    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.dylint_drivers/
            ~/.rustup/toolchains/
            target/dylint/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install dependencies
        run: |
          rustup update
          rustup +nightly component add clippy
          cargo install cargo-dylint dylint-link || true
          cargo install cargo-license            || true
          cargo install cargo-sort               || true

      - name: Test
        run: cargo test --features=ci
